{% extends "layout.html" %}

{% block title %}
    {{ asset.name }}
{% endblock %}

{% block main %}
    <!--Header-->
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-1" style="display: flex; align-items: center; width: auto">
            <img src="../static/logos/{{ asset.symbol }}.png" style="width: 3rem; height: 3rem; text-align: center">
        </div>
        <div class="col-6" style="display: flex; align-items: center; font-size: 3rem; font-weight: bold; padding-left: 0">
            <a>{{ asset.name }} price <small class="text-muted">{{ asset.symbol }}</small></a>
        </div>
        <div class="col-5" style="display: flex; justify-content: center"><button class="btn btn-primary" id="fav-btn" type="button" onclick="favorite()">{{ fav }}</button></div>
    </div>
    <!--Price-->
    <div>
        <h3 id="asset-price">{{ asset.price }}</h3>
    </div>
    <h5>
        {{ asset.name }} balance: {{ asset_balance }}  {{ asset.symbol }}
    </h5>

    <h5>
        Balance: {{ balance }}
    </h5>

    <h5>
        You've gained {{ gain }}%
    </h5>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_e8317"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{ asset.symbol }}USD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">{{ asset.symbol }}USD Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": "BINANCE:{{ asset.symbol }}USD",
                "interval": "240",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "studies": [
                    "BB@tv-basicstudies",
                    "MAExp@tv-basicstudies"
                ],
                "container_id": "tradingview_e8317"
            });
        </script>
    </div>
    <!-- TradingView Widget END -->

    <link rel="stylesheet" href="../static/asset.css">

    <section>
        <div class="container" style="padding: 0">
            <!-- Buy CARD HERE -->
            <form class="card menu" action="/asset?name={{ asset.symbol }}" method="post">
                <div>
                    <div class="card-text">BUY</div>
                    <div class="just-text">
                        <div class="sub-title">
                            <h4>Balance :</h4>
                        </div>
                        <div class="text">
                            <p id="balance-usd">{{ balance }}</p>
                        </div>
                    </div>
                    <div class="total-usd">
                        <div class="sub-title">
                            <h4>Total USD :</h4>
                        </div>
                        <div class="input-group">
                            <label for="">
                                <input autcomplete="off" class="transact-input" type="number" id="usd-amount" name="usd-amount">
                            </label>
                        </div>
                    </div>
                    <div class="just-text">
                        <div class="sub-title">
                            <h4>Estimate :</h4>
                        </div>
                        <div class="text">
                            <p id="est-buy">0</p>
                        </div>
                    </div>
                    <div class="transact-button">
                        <input type="submit" id="btn-buy" name="submit" value="Buy">
                    </div>
                </div>
            </form>

            <!-- SELL CARD HERE -->
            <form class="card menu" action="/asset?name={{ asset.symbol }}" method="post">
                <div>
                    <div class="card-text">SELL</div>
                    <div class="just-text">
                        <div class="sub-title">
                            <h4>Balance :</h4>
                        </div>
                        <div class="text">
                            <p id="balance-coin">{{ asset_balance }}  {{ asset.symbol }}</p>
                        </div>
                    </div>
                    <div class="total-usd">
                        <div class="sub-title">
                            <h4>Total amount :</h4>
                        </div>
                        <div class="input-group">
                            <label>
                                <input autocomplete="off" class="transact-input" type="number" id="coin-amount" name="coin-amount">
                            </label>
                        </div>
                    </div>
                    <div class="just-text">
                        <div class="sub-title">
                            <h4>Estimate :</h4>
                        </div>
                        <div class="text">
                            <p id="est-sell">0</p>
                        </div>
                    </div>
                    <div class="transact-button">
                        <input type="submit" id="btn-sell" name="submit" value="Sell">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        // Get asset's price on load
        let asset_price

        document.addEventListener('DOMContentLoaded', () => {
            $.post('/get-price?action=lookup&name={{ asset.symbol }}', (price) => {
                asset_price = parseFloat(price)
            })
        })

        // Get asset's price every 60 seconds for faster conversion
        window.setInterval(() => {
            $.post('/get-price?action=lookup&name={{ asset.symbol }}', (price) => {
                asset_price = parseFloat(price)
            })
        }, 60000)

        // Handles buy cc amount approximation
        let buy = document.querySelector("#usd-amount")

        buy.addEventListener("keyup", () => {
            if (buy.value == "") {
                document.querySelector("#est-buy").innerHTML = `0`
            }
            else {
                let money = parseFloat(buy.value)
                let est_amount = money/asset_price
                document.querySelector("#est-buy").innerHTML = `${est_amount} {{ asset.symbol }}`
            }
        })

        // Handles sell price approximation
        let sell = document.querySelector("#coin-amount")

        sell.addEventListener("keyup", () => {
            if (sell.value == "") {
                document.querySelector("#est-sell").innerHTML = `0`
            }
            else {
                let money = parseFloat(sell.value)
                let est_amount = money * asset_price
                let formatted = Number(est_amount).toLocaleString()
                document.querySelector("#est-sell").innerHTML = `$${formatted} USD`
            }
        })

        // Update user's favorite
        function favorite() {
            // Get favorite button
            const btn = document.getElementById('fav-btn')

            // Update favorites by going to /add-fav endpoint
            $.post('/add-fav?name={{ asset.symbol }}', (response) => {
                if (response === 'fav') {
                    btn.innerText = 'Remove from Favorites'
                }
                else {
                    btn.innerText = 'Add to Favorites'
                }
            })
        }

    </script>

{% endblock %}